In [ ]:
import os

In [1]:
import graphlab

In [5]:
sf=graphlab.SFrame('data_ex1.csv')

This non-commercial license of GraphLab Create for academic use is assigned to tjdwoocn@mju.ac.kr and will expire on March 05, 2019.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\tjdwo\AppData\Local\Temp\graphlab_server_1521613838.log.0

Finished parsing file C:\Users\tjdwo\data_ex1.csv

Parsing completed. Parsed 100 lines in 0.040448 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[long,str,str,long,long,str,str,long,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file C:\Users\tjdwo\data_ex1.csv

Parsing completed. Parsed 100 lines in 0.039376 secs.

In [6]:
sf

Columns:
	Emp ID	int
	First Name	str
	Gender	str
	Weight in Kgs.	int
	Salary	int
	Country	str
	Group	str
	Age in Yrs.	int
	Year of Joining	int

Rows: 100

Data:
+--------+------------+--------+----------------+--------+---------+-------+-------------+
| Emp ID | First Name | Gender | Weight in Kgs. | Salary | Country | Group | Age in Yrs. |
+--------+------------+--------+----------------+--------+---------+-------+-------------+
| 677509 |    Lois    |   F    |       60       | 168251 |  Albion |   A   |      36     |
| 940761 |   Brenda   |   F    |       60       | 51063  |  Albion |   A   |      47     |
| 428945 |    Joe     |   M    |       68       | 50155  |  Albion |   A   |      54     |
| 408351 |   Diane    |   F    |       51       | 180294 |  Albion |   A   |      40     |
| 193819 |  Benjamin  |   M    |       58       | 117642 |  Albion |   A   |      40     |
| 499687 |  Patrick   |   M    |       58       | 72305  |  Albion |   A   |      35     |
| 539712 |   Nancy    |   F    |       50       | 98189  |  Albion |   A   |      22     |
| 380086 |   Carol    |   F    |       40       | 60918  | Clinton |   A   |      59     |
| 477616 |  Frances   |   F    |       42       | 121587 |  Starr  |   A   |      58     |
| 162402 |   Diana    |   F    |       60       | 43010  | Carroll |   A   |      30     |
+--------+------------+--------+----------------+--------+---------+-------+-------------+
+-----------------+
| Year of Joining |
+-----------------+
|       2003      |
|       2008      |
|       2016      |
|       1999      |
|       2013      |
|       2005      |
|       2016      |
|       1983      |
|       1994      |
|       2014      |
+-----------------+
[100 rows x 9 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [9]:
sf. head(1)

Columns:
	Emp ID	int
	First Name	str
	Gender	str
	Weight in Kgs.	int
	Salary	int
	Country	str
	Group	str
	Age in Yrs.	int
	Year of Joining	int

Rows: 1

Data:
+--------+------------+--------+----------------+--------+---------+-------+-------------+
| Emp ID | First Name | Gender | Weight in Kgs. | Salary | Country | Group | Age in Yrs. |
+--------+------------+--------+----------------+--------+---------+-------+-------------+
| 677509 |    Lois    |   F    |       60       | 168251 |  Albion |   A   |      36     |
+--------+------------+--------+----------------+--------+---------+-------+-------------+
+-----------------+
| Year of Joining |
+-----------------+
|       2003      |
+-----------------+
[1 rows x 9 columns]

In [10]:
this_year=2018
sf['work_year']=this_year-sf['Year of Joining']

In [11]:
sf

Columns:
	Emp ID	int
	First Name	str
	Gender	str
	Weight in Kgs.	int
	Salary	int
	Country	str
	Group	str
	Age in Yrs.	int
	Year of Joining	int
	work_year	int

Rows: 100

Data:
+--------+------------+--------+----------------+--------+---------+-------+-------------+
| Emp ID | First Name | Gender | Weight in Kgs. | Salary | Country | Group | Age in Yrs. |
+--------+------------+--------+----------------+--------+---------+-------+-------------+
| 677509 |    Lois    |   F    |       60       | 168251 |  Albion |   A   |      36     |
| 940761 |   Brenda   |   F    |       60       | 51063  |  Albion |   A   |      47     |
| 428945 |    Joe     |   M    |       68       | 50155  |  Albion |   A   |      54     |
| 408351 |   Diane    |   F    |       51       | 180294 |  Albion |   A   |      40     |
| 193819 |  Benjamin  |   M    |       58       | 117642 |  Albion |   A   |      40     |
| 499687 |  Patrick   |   M    |       58       | 72305  |  Albion |   A   |      35     |
| 539712 |   Nancy    |   F    |       50       | 98189  |  Albion |   A   |      22     |
| 380086 |   Carol    |   F    |       40       | 60918  | Clinton |   A   |      59     |
| 477616 |  Frances   |   F    |       42       | 121587 |  Starr  |   A   |      58     |
| 162402 |   Diana    |   F    |       60       | 43010  | Carroll |   A   |      30     |
+--------+------------+--------+----------------+--------+---------+-------+-------------+
+-----------------+-----------+
| Year of Joining | work_year |
+-----------------+-----------+
|       2003      |     15    |
|       2008      |     10    |
|       2016      |     2     |
|       1999      |     19    |
|       2013      |     5     |
|       2005      |     13    |
|       2016      |     2     |
|       1983      |     35    |
|       1994      |     24    |
|       2014      |     4     |
+-----------------+-----------+
[100 rows x 10 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [12]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:13628/index.html
Opening Canvas in default web browser.

In [21]:
asl = sf.groupby('Group', {'Avg Salary': graphlab.aggregate.MEAN('Salary')})

In [22]:
asl

Columns:
	Group	str
	Avg Salary	float

Rows: 3

Data:
+-------+---------------+
| Group |   Avg Salary  |
+-------+---------------+
|   A   | 109698.954545 |
|   M   |   117422.96   |
|   H   | 124997.320755 |
+-------+---------------+
[3 rows x 2 columns]

In [24]:
gp=sf.groupby('Group',{'group_person':graphlab.aggregate.COUNT()})

In [25]:
gp

Columns:
	Group	str
	group_person	int

Rows: 3

Data:
+-------+--------------+
| Group | group_person |
+-------+--------------+
|   A   |      22      |
|   M   |      25      |
|   H   |      53      |
+-------+--------------+
[3 rows x 2 columns]

In [26]:
def correct_Country(Country):
    if Country == 'Albion':
        return 'usa'
    else:
        return Country

In [27]:
sf['Country'] = sf['Country'].apply(correct_Country)

In [28]:
sf

Columns:
	Emp ID	int
	First Name	str
	Gender	str
	Weight in Kgs.	int
	Salary	int
	Country	str
	Group	str
	Age in Yrs.	int
	Year of Joining	int
	work_year	int

Rows: 100

Data:
+--------+------------+--------+----------------+--------+---------+-------+-------------+
| Emp ID | First Name | Gender | Weight in Kgs. | Salary | Country | Group | Age in Yrs. |
+--------+------------+--------+----------------+--------+---------+-------+-------------+
| 677509 |    Lois    |   F    |       60       | 168251 |   usa   |   A   |      36     |
| 940761 |   Brenda   |   F    |       60       | 51063  |   usa   |   A   |      47     |
| 428945 |    Joe     |   M    |       68       | 50155  |   usa   |   A   |      54     |
| 408351 |   Diane    |   F    |       51       | 180294 |   usa   |   A   |      40     |
| 193819 |  Benjamin  |   M    |       58       | 117642 |   usa   |   A   |      40     |
| 499687 |  Patrick   |   M    |       58       | 72305  |   usa   |   A   |      35     |
| 539712 |   Nancy    |   F    |       50       | 98189  |   usa   |   A   |      22     |
| 380086 |   Carol    |   F    |       40       | 60918  | Clinton |   A   |      59     |
| 477616 |  Frances   |   F    |       42       | 121587 |  Starr  |   A   |      58     |
| 162402 |   Diana    |   F    |       60       | 43010  | Carroll |   A   |      30     |
+--------+------------+--------+----------------+--------+---------+-------+-------------+
+-----------------+-----------+
| Year of Joining | work_year |
+-----------------+-----------+
|       2003      |     15    |
|       2008      |     10    |
|       2016      |     2     |
|       1999      |     19    |
|       2013      |     5     |
|       2005      |     13    |
|       2016      |     2     |
|       1983      |     35    |
|       1994      |     24    |
|       2014      |     4     |
+-----------------+-----------+
[100 rows x 10 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [29]:
sf1=graphlab.SFrame('data_ex2.csv')

Finished parsing file C:\Users\tjdwo\data_ex2.csv

Parsing completed. Parsed 3 lines in 0.039204 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file C:\Users\tjdwo\data_ex2.csv

Parsing completed. Parsed 3 lines in 0.053059 secs.

In [38]:
join_table= sf.join(sf1, on = 'Group')

In [41]:
join_table.show()

Canvas is updated and available in a tab in the default browser.

In [32]:
sf1

Columns:
	Group	str
	First Name	str
	Job	str
	Salary	int

Rows: 3

Data:
+-------+------------+---------------------+--------+
| Group | First Name |         Job         | Salary |
+-------+------------+---------------------+--------+
|   A   |  Jeffery   |  Leader of Account  | 200294 |
|   H   |    Kim     |     Leader of HR    | 308457 |
|   M   |    Park    | Leader of Marketing | 252237 |
+-------+------------+---------------------+--------+
[3 rows x 4 columns]