In [1]:
import graphlab

## 인물에 관한 위키피디아 텍스트 데이터 가져오기

In [11]:
people = graphlab.SFrame('people_wiki.csv')

Finished parsing file C:\Users\tjdwo\people_wiki.csv

Parsing completed. Parsed 100 lines in 0.323022 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Read 26690 lines. Lines per second: 55165.5

Finished parsing file C:\Users\tjdwo\people_wiki.csv

Parsing completed. Parsed 59071 lines in 0.825228 secs.

In [12]:
people.head()

Columns:
	URI	str
	name	str
	text	str

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[10 rows x 3 columns]

In [5]:
len(people)

0

## 데이터 탐색하기

In [137]:
obama = people[people['name']== 'Barack Obama']

In [138]:
obama

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [139]:
obama['text']

dtype: str
Rows: ?
['barack hussein obama ii brk husen bm born august 4 1961 is the 44th and current president of the united states and the first african american to hold the office born in honolulu hawaii obama is a graduate of columbia university and harvard law school where he served as president of the harvard law review he was a community organizer in chicago before earning his law degree he worked as a civil rights attorney and taught constitutional law at the university of chicago law school from 1992 to 2004 he served three terms representing the 13th district in the illinois senate from 1997 to 2004 running unsuccessfully for the united states house of representatives in 2000in 2004 obama received national attention during his campaign to represent illinois in the united states senate with his victory in the march democratic party primary his keynote address at the democratic national convention in july and his election to the senate in november he began his presidential campaign in 2007 and after a close primary campaign against hillary rodham clinton in 2008 he won sufficient delegates in the democratic party primaries to receive the presidential nomination he then defeated republican nominee john mccain in the general election and was inaugurated as president on january 20 2009 nine months after his election obama was named the 2009 nobel peace prize laureateduring his first two years in office obama signed into law economic stimulus legislation in response to the great recession in the form of the american recovery and reinvestment act of 2009 and the tax relief unemployment insurance reauthorization and job creation act of 2010 other major domestic initiatives in his first term included the patient protection and affordable care act often referred to as obamacare the doddfrank wall street reform and consumer protection act and the dont ask dont tell repeal act of 2010 in foreign policy obama ended us military involvement in the iraq war increased us troop levels in afghanistan signed the new start arms control treaty with russia ordered us military involvement in libya and ordered the military operation that resulted in the death of osama bin laden in january 2011 the republicans regained control of the house of representatives as the democratic party lost a total of 63 seats and after a lengthy debate over federal spending and whether or not to raise the nations debt limit obama signed the budget control act of 2011 and the american taxpayer relief act of 2012obama was reelected president in november 2012 defeating republican nominee mitt romney and was sworn in for a second term on january 20 2013 during his second term obama has promoted domestic policies related to gun control in response to the sandy hook elementary school shooting and has called for full equality for lgbt americans while his administration has filed briefs which urged the supreme court to strike down the defense of marriage act of 1996 and californias proposition 8 as unconstitutional in foreign policy obama ordered us military involvement in iraq in response to gains made by the islamic state in iraq after the 2011 withdrawal from iraq continued the process of ending us combat operations in afghanistan and has sought to normalize us relations with cuba', ... ]

## 조지크루니 데이터 가져오기

In [140]:
clooney = people[people['name']== 'George Clooney']

In [141]:
clooney

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+----------------+
|              URI              |      name      |
+-------------------------------+----------------+
| <http://dbpedia.org/resour... | George Clooney |
+-------------------------------+----------------+
+-------------------------------+
|              text             |
+-------------------------------+
| george timothy clooney bor... |
+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [142]:
clooney['text']

dtype: str
Rows: ?
['george timothy clooney born may 6 1961 is an american actor writer producer director and activist he has received three golden globe awards for his work as an actor and two academy awards one for acting and the other for producingclooney made his acting debut on television in 1978 and later gained wide recognition in his role as dr doug ross on the longrunning medical drama er from 1994 to 1999 for which he received two emmy award nominations while working on er he began attracting a variety of leading roles in films including the superhero film batman robin 1997 and the crime comedy out of sight 1998 in which he first worked with a director who would become a longtime collaborator steven soderbergh in 1999 clooney took the lead role in three kings a wellreceived war satire set during the gulf warin 2001 clooneys fame widened with the release of his biggest commercial success the heist comedy oceans eleven the first of the film trilogy a remake of the 1960 film with frank sinatra as danny ocean he made his directorial debut a year later with the biographical thriller confessions of a dangerous mind and has since directed the drama good night and good luck 2005 the sports comedy leatherheads 2008 the political drama the ides of march 2011 and the comedydrama war film the monuments men 2014he won an academy award for best supporting actor for the middle east thriller syriana 2005 and subsequently earned best actor nominations for the legal thriller michael clayton 2007 the comedydrama up in the air 2009 and the drama the descendants 2011 in 2013 he received the academy award for best picture for producing the political thriller argo alongside ben affleck and grant heslov he is the only person ever to be nominated for academy awards in six categoriesclooney is sometimes described as one of the most handsome men in the world in 2005 tv guide ranked clooney no 1 on its 50 sexiest stars of all time list in 2009 he was included in times annual time 100 as one of the most influential people in the world clooney is also noted for his political activism and has served as one of the united nations messengers of peace since january 31 2008 his humanitarian work includes his advocacy of finding a resolution for the darfur conflict raising funds for the 2010 haiti earthquake 2004 tsunami and 911 victims and creating documentaries such as sand and sorrow to raise awareness about international crises he is also a member of the council on foreign relations', ... ]

In [143]:
emma = people[people['name']== 'Emma Watson']

In [144]:
emma

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+-------------+-------------------------------+
|              URI              |     name    |              text             |
+-------------------------------+-------------+-------------------------------+
| <http://dbpedia.org/resour... | Emma Watson | emma charlotte duerre wats... |
+-------------------------------+-------------+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [145]:
emma['text']

dtype: str
Rows: ?
['emma charlotte duerre watson born 15 april 1990 is an english actress model and activist watson rose to prominence as hermione granger in the harry potter film series appearing in all eight harry potter films from 2001 to 2011 the franchise earned watson worldwide fame critical accolades and more than 10 million she continued to work outside of the harry potter films first lending her voice to the tale of despereaux and appearing in the television adaptation of the novel ballet shoes since then she has taken on starring roles in the perks of being a wallflower and the bling ring made a brief appearance as an exaggerated version of herself in this is the end and portrayed the title characters adopted daughter in noahfrom 2011 to 2014 watson split her time between working on film projects and continuing her education studying at brown university and oxford university and graduating from brown with a bachelors degree in english literature in may 2014 her modelling work has included campaigns for burberry and lancme as a fashion consultant she helped create a line of clothing for people tree she was honoured by the british academy of film and television arts in 2014 winning for british artist of the year that same year she was appointed as a un women goodwill ambassador and helped launch the un women campaign heforshe which calls for men to advocate gender equality', ... ]

## Obama 아티클에 word counts 추가하기

In [147]:
obama['word_count'] = graphlab.text_analytics.count_words(obama['text'])

## Obama 아티클의 word counts 소팅하기

### word counts dictionary 를 테이블로 변환하기

In [148]:
obama_word_count_table = obama[['word_count']].stack('word_count', new_column_name = ['word', 'count'])

In [149]:
obama_word_count_table.head()

Columns:
	word	str
	count	int

Rows: 10

Data:
+------------------+-------+
|       word       | count |
+------------------+-------+
|    normalize     |   1   |
|      sought      |   1   |
|      combat      |   1   |
|    continued     |   1   |
| unconstitutional |   1   |
|        8         |   1   |
|   californias    |   1   |
|       1996       |   1   |
|     marriage     |   1   |
|     defense      |   1   |
+------------------+-------+
[10 rows x 2 columns]

## 빈번하게 사용된 단어들이 위로 오도록 소팅하기

In [18]:
obama_word_count_table.sort('count', ascending = False).print_rows(num_rows=20)

+------------+-------+
|    word    | count |
+------------+-------+
|    the     |   40  |
|     in     |   30  |
|    and     |   21  |
|     of     |   18  |
|     to     |   14  |
|    his     |   11  |
|   obama    |   9   |
|    act     |   8   |
|     a      |   7   |
|     he     |   7   |
|    law     |   6   |
|     us     |   6   |
|     as     |   6   |
|    was     |   5   |
|   after    |   4   |
|    has     |   4   |
| democratic |   4   |
| president  |   4   |
|  military  |   4   |
|    for     |   4   |
+------------+-------+
[273 rows x 2 columns]

## tf_idf 계산하기

In [150]:
# TF _  IDF _ 점수를 통해서 중요한 단어를 구별할 수 있음

In [151]:
people['word_count'] = graphlab.text_analytics.count_words(people['text'])

In [152]:
tfidf = graphlab.text_analytics.tf_idf(people['word_count'])

In [155]:
people['tfidf']=tfidf

## 오바마 아티클의 TF-IDF 조사하기

In [156]:
obama = people[people['name']== 'Barack Obama']

In [157]:
obama['tfidf']

dtype: dict
Rows: ?
[{'operations': 3.811771079388818, 'represent': 4.184100625900883, 'office': 5.2481728232196465, 'unemployment': 6.642689967371511, 'doddfrank': 9.887883100557085, 'over': 1.4878231559557336, 'unconstitutional': 6.8276123058655225, 'domestic': 8.967410686619141, 'major': 2.0581201293715634, 'years': 1.0752380994247055, 'against': 2.0079609791418744, 'proposition': 6.926052378678775, 'seats': 5.000043383940756, 'graduate': 2.6750971107885535, 'debate': 4.783959872037272, 'before': 1.4967823726683713, 'death': 3.1568650000750016, '20': 4.88376320446593, 'taxpayer': 7.431147327735781, 'representing': 3.535253704237518, 'obamacare': 9.04058524016988, 'barack': 5.067601534952048, 'to': 0.6572291275451891, '4': 2.437803530749586, 'policy': 6.095386282141427, '8': 2.7572509724892824, 'he': 1.493579903611068, '2011': 5.107041270312876, '2010': 3.185667920243947, '2013': 1.9545642372230505, '2012': 1.7938099524877322, 'bin': 5.6158573610975315, 'then': 1.4309354361561304, 'his': 2.8887260073502303, 'march': 1.9573172463231197, 'gains': 6.7238155121838785, 'cuba': 5.005081177970713, 'school': 3.6683618376520553, '1992': 2.278351314316948, 'new': 0.8871532656125274, 'not': 1.5880170751336171, 'during': 2.634930295807099, 'ending': 4.547145018125096, 'continued': 2.720588055069447, 'presidential': 7.386955418904825, 'states': 5.473200989631017, 'husen': 10.986495389225194, 'osama': 6.604468754551313, 'californias': 5.923900356198227, 'equality': 5.341048491581956, 'prize': 2.7453192387302345, 'lost': 2.731706463076469, 'made': 1.519886215502974, 'inaugurated': 6.27696518791286, 'january': 5.656236009557883, 'university': 1.6946860096423695, 'rights': 3.06677562830062, 'july': 1.9428000946579587, 'gun': 5.269467687818973, 'stimulus': 7.654290879049991, 'rodham': 7.690658523220865, 'troop': 7.248825770941826, 'withdrawal': 6.27696518791286, 'brk': 10.293348208665249, 'nine': 3.2624907325491286, 'where': 1.089076212090673, 'referred': 4.255477288743111, 'affordable': 6.134465125305577, 'attorney': 3.6593720969659014, 'on': 0.36882550670120073, 'often': 2.862641126119281, 'senate': 10.164288179703693, 'regained': 5.583818007352915, 'national': 2.3721863295447827, 'creation': 4.03568062078261, 'related': 3.723866788250953, 'hawaii': 4.806478735572622, 'born': 0.53639254752953, 'second': 3.344851662973069, 'defense': 3.794313330511949, 'election': 7.712676160711769, 'close': 3.5416621153330006, 'operation': 4.3584540130456615, 'insurance': 4.594578275832593, 'sandy': 5.493433945884646, 'afghanistan': 9.4197037997671, 'initiatives': 4.895185507147496, 'for': 0.29145011737314763, 'reform': 4.092839034622559, 'house': 4.651096468328522, 'review': 3.227734845067532, 'representatives': 7.484535747243688, 'current': 2.8308461188591933, 'state': 1.7090572737165175, 'won': 1.3836400683164753, 'limit': 5.355283607403829, 'victory': 3.384593429350028, 'unsuccessfully': 4.831637295208776, 'reauthorization': 8.907053847545358, 'keynote': 5.433535804303577, 'full': 3.003055326218652, 'patient': 5.6393878585077255, 'august': 2.000173951599175, 'degree': 2.0206498944742566, '44th': 7.0744723837970485, 'bm': 7.202305755306933, 'mitt': 6.812108119329557, 'attention': 3.4269358932174945, 'delegates': 6.142308302766603, 'lgbt': 5.5883326877074415, 'job': 3.446936559924164, 'harvard': 6.634000276435001, 'term': 9.319341564760851, 'served': 3.0725446998610506, 'ask': 5.510031837293684, 'november': 3.9453132752336004, 'debt': 5.6158573610975315, 'by': 0.37455341206197373, 'wall': 4.021415043623787, 'care': 3.916621260766622, 'received': 1.5396609815666638, 'great': 2.7682474625394486, 'signed': 7.552957376250012, 'libya': 6.332535039067671, 'receive': 4.448355565457525, 'of': 0.07481117158400744, 'months': 3.0427126967665687, 'urged': 6.199003646443148, 'foreign': 6.3816977057812005, 'american': 3.3821333532750204, 'protection': 8.698474715881474, 'economic': 3.2704801225826072, 'act': 27.67822262297991, 'military': 13.115932778499415, 'hussein': 6.126682984863522, 'or': 1.9128915408224825, 'first': 2.0868146141979307, 'control': 14.887060845181308, 'named': 2.0300155412252816, 'clinton': 4.542364132524754, 'dont': 8.28123102792229, 'campaign': 9.077468342511231, 'russia': 4.025199343315028, 'civil': 3.3244978303233013, 'reinvestment': 8.421546031763658, 'into': 1.6050629424066056, 'address': 4.8023464982877115, 'primary': 6.710127449296579, 'community': 2.693196030513871, 'mccain': 6.766987684049088, 'down': 2.9476606314374463, 'hook': 6.2951475069960505, '63': 5.22130428644035, 'americans': 4.761936959949835, 'elementary': 4.96062941539988, 'total': 3.2767385247710297, 'earning': 3.857197840295821, 'repeal': 7.297615935111258, 'from': 0.8812660139569034, 'raise': 4.67476058007228, 'district': 2.774469584601757, 'spending': 4.176352939110058, 'republican': 7.207497878972565, 'legislation': 4.687546142369252, 'three': 1.4915025293575952, 'relations': 3.445873860568042, 'nobel': 5.075698745184667, 'start': 3.281232914358869, 'tell': 4.804410482508563, 'iraq': 17.747378587965535, 'convention': 4.417013968810898, 'resulted': 4.015765311081669, 'john': 1.9913303989140443, 'was': 0.3968289280609173, '2012obama': 10.986495389225194, 'form': 3.233730580373866, 'that': 0.6614069466714981, 'tax': 4.545548848592274, 'sufficient': 6.432618497624653, 'republicans': 5.592867842872833, 'strike': 5.025490049601921, 'hillary': 6.002888767516858, 'ended': 3.3430124821479934, 'arms': 5.030658019760364, 'honolulu': 5.880549915324614, 'filed': 4.70797396505935, 'worked': 1.553891853362109, 'hold': 4.144879912747602, 'with': 0.6074059275661821, 'obama': 43.2956530720749, 'street': 3.250188292676909, 'ii': 3.3077063910260405, 'has': 1.713990158976156, '1997': 2.1298344522079455, '1996': 2.135691193468776, 'whether': 4.744272123770029, 'reelected': 3.68265216394749, 'budget': 4.523465932304524, 'us': 11.591942692842837, 'nations': 3.361876403065796, 'recession': 6.642689967371511, 'while': 1.8364359481339414, 'taught': 2.8485149347730556, 'marriage': 4.115404094614648, 'policies': 4.660345916070095, 'promoted': 3.5191243223076345, 'called': 2.0784770664403074, 'and': 0.01564802185902329, 'supreme': 3.9140734886878232, 'ordered': 14.533373950913514, 'nominee': 9.43101391473379, 'process': 3.7451291059028766, '2000in': 6.250296940830698, 'is': 0.05523250095103998, 'romney': 6.843360662833661, 'briefs': 7.460134864609033, 'defeated': 3.4068165661347387, 'general': 2.220724845237937, '13th': 4.9534091674263925, 'as': 0.7630171320744707, 'at': 0.43063857330825733, 'in': 0.028962190503643476, 'sought': 4.327201469541557, 'organizer': 5.501698455734539, 'shooting': 4.682046586803213, 'increased': 4.75012579902149, 'normalize': 10.293348208665249, 'lengthy': 5.862531409821935, 'united': 4.703766236011668, 'court': 2.896399606044235, 'recovery': 5.103173000736915, 'laden': 6.709829270209139, 'laureateduring': 10.986495389225194, 'peace': 3.7928095708300824, 'administration': 3.2952952917023315, '1961': 3.3207419573634955, 'illinois': 7.480254618245467, 'other': 1.4424007566948476, 'which': 0.7674309670437692, 'party': 7.0620334604226676, 'primaries': 6.669007275688884, 'sworn': 4.96062941539988, 'relief': 8.842460838379667, 'war': 2.809822617276739, 'columbia': 3.232442750189437, 'combat': 4.932056042955824, 'after': 3.7773337680052257, 'islamic': 4.785986215182504, 'running': 3.3516747114796512, 'levels': 4.647901311022012, 'two': 1.0988831858473562, 'involvement': 12.784385241175055, 'response': 12.784385241175055, 'included': 2.4446095852185854, 'president': 7.226869291326606, 'law': 14.722935761763422, 'nomination': 3.7697859025157365, '2008': 1.5093391374786154, 'a': 0.039334291308082026, '2009': 4.693309450812809, 'chicago': 5.858235801334405, 'constitutional': 4.529725733653031, 'defeating': 4.285764279677384, 'treaty': 5.89889905399281, 'federal': 3.0888272384982884, '2007': 1.4879730697555795, '2004': 5.071033082507702, 'african': 3.582216271187926, 'the': 0.004063113702956533, 'democratic': 12.410688697332166, 'consumer': 4.7540473726746715, 'began': 1.727460095710253, 'terms': 3.8240978918694766}, ... ]

In [158]:
obama_tfidf_table= obama[['tfidf']].stack('tfidf', new_column_name=['word', 'tfidf'])

In [159]:
obama_tfidf_table.sort('tfidf', ascending=False).print_rows(num_rows=20)

+----------------+---------------+
|      word      |     tfidf     |
+----------------+---------------+
|     obama      | 43.2956530721 |
|      act       |  27.678222623 |
|      iraq      |  17.747378588 |
|    control     | 14.8870608452 |
|      law       | 14.7229357618 |
|    ordered     | 14.5333739509 |
|    military    | 13.1159327785 |
|  involvement   | 12.7843852412 |
|    response    | 12.7843852412 |
|   democratic   | 12.4106886973 |
|       us       | 11.5919426928 |
|   2012obama    | 10.9864953892 |
| laureateduring | 10.9864953892 |
|     husen      | 10.9864953892 |
|      brk       | 10.2933482087 |
|   normalize    | 10.2933482087 |
|     senate     | 10.1642881797 |
|   doddfrank    | 9.88788310056 |
|    nominee     | 9.43101391473 |
|  afghanistan   | 9.41970379977 |
+----------------+---------------+
[273 rows x 2 columns]

In [27]:
clinton = people[people['name']=='Bill Clinton']

In [160]:
clinton_tfidf_table= clinton[['tfidf']].stack('tfidf', new_column_name=['word', 'tfidf'])
clinton_tfidf_table.sort('tfidf', ascending=False).print_rows(num_rows=20)

+--------------------+---------------+
|        word        |     tfidf     |
+--------------------+---------------+
|      clinton       | 49.9660054578 |
|       haiti        | 17.4480341826 |
|       kappa        | 15.9498433987 |
|      arkansas      | 15.4462948262 |
|       office       |  13.120432058 |
|      clintons      | 12.7827510782 |
|     president      | 12.6470212598 |
|        bush        | 12.5125661975 |
|    endofoffice     | 10.9864953892 |
| presidencyclinton  | 10.9864953892 |
| associationclinton | 10.9864953892 |
|     jefferson      | 10.7613866459 |
|      1979born      | 10.2933482087 |
|   thirdyoungest    | 9.37705747679 |
|     democratic     |  9.308016523  |
|      william       |  9.2754136164 |
|       budget       | 9.04693186461 |
|     peacetime      | 9.04058524017 |
|       health       | 8.98369460812 |
|      democrat      | 8.51334263747 |
+--------------------+---------------+
[275 rows x 2 columns]

In [162]:
clinton_word_count_table = clinton[['word_count']].stack('word_count', new_column_name = ['word', 'count'])

In [164]:
clinton_word_count_table.sort('count', ascending=False).print_rows(num_rows=20)

+-----------+-------+
|    word   | count |
+-----------+-------+
|    the    |   30  |
|     of    |   20  |
|    and    |   19  |
|     to    |   15  |
|     he    |   15  |
|     a     |   12  |
|     in    |   12  |
|    was    |   11  |
|  clinton  |   11  |
|    from   |   9   |
|    for    |   7   |
| president |   7   |
|     as    |   6   |
|   office  |   5   |
|   since   |   4   |
|    has    |   4   |
|   years   |   4   |
|   states  |   4   |
|    been   |   4   |
|   served  |   4   |
+-----------+-------+
[275 rows x 2 columns]

In [165]:
obama_tfidf_table

Columns:
	word	str
	tfidf	float

Rows: 273

Data:
+------------------+---------------+
|       word       |     tfidf     |
+------------------+---------------+
|    normalize     | 10.2933482087 |
|      sought      | 4.32720146954 |
|      combat      | 4.93205604296 |
|    continued     | 2.72058805507 |
| unconstitutional | 6.82761230587 |
|        8         | 2.75725097249 |
|   californias    |  5.9239003562 |
|       1996       | 2.13569119347 |
|     marriage     | 4.11540409461 |
|     defense      | 3.79431333051 |
+------------------+---------------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## 일부 사람들 사이의 거리(distance)(친구사이) 구하기

In [36]:
beckham = people[people['name'] == 'David Beckham']

In [37]:
beckham

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+---------------+-------------------------------+
|              URI              |      name     |              text             |
+-------------------------------+---------------+-------------------------------+
| <http://dbpedia.org/resour... | David Beckham | david robert joseph beckha... |
+-------------------------------+---------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'fifa': 3L, 'bending': 1L... | {'fifa': 14.13520010394976... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

 ## 오바마는 클린턴에 가까운지? 아니면 베컴에 가까운지?

In [173]:
graphlab.distances.cosine(obama['tfidf'][0], clinton['tfidf'][0])

0.8339854936884276

In [175]:
graphlab.distances.cosine(obama['tfidf'][0], beckham['tfidf'][0])

0.9791305844747478

## 문서를 가져오기 위한 nearest neighbor model 구축

In [77]:
knn_model = graphlab.nearest_neighbors.create(people, features=['tfidf'], label='name')

Starting brute force nearest neighbors model training.

##  만들어진 모델을 활용하기

### 오바마와 가장 가까운 인물 찾기

In [180]:
knn_model.query(obama)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 18.048ms     |

| Done         |         | 100         | 183.488ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |   Barack Obama  |      0.0       |  1   |
|      0      |    Joe Biden    | 0.794117647059 |  2   |
|      0      |  Joe Lieberman  | 0.794685990338 |  3   |
|      0      |   Kelly Ayotte  | 0.811989100817 |  4   |
|      0      |   Bill Clinton  | 0.813852813853 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

## 다른 예제들

In [43]:
swift = people[people['name']== 'Taylor Swift']

In [44]:
knn_model.query(swift)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 30.266ms     |

| Done         |         | 100         | 292.617ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+----------------+------+
| query_label | reference_label  |    distance    | rank |
+-------------+------------------+----------------+------+
|      0      |   Taylor Swift   |      0.0       |  1   |
|      0      | Carrie Underwood | 0.76231884058  |  2   |
|      0      |   Alicia Keys    | 0.764705882353 |  3   |
|      0      |  Jordin Sparks   | 0.769633507853 |  4   |
|      0      |   Leona Lewis    | 0.776119402985 |  5   |
+-------------+------------------+----------------+------+
[5 rows x 4 columns]

In [46]:
jolie = people[people['name']=="Angelina Jolie"]

In [47]:
knn_model.query(jolie)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 40.207ms     |

| Done         |         | 100         | 311.787ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------+----------------+------+
| query_label |  reference_label   |    distance    | rank |
+-------------+--------------------+----------------+------+
|      0      |   Angelina Jolie   |      0.0       |  1   |
|      0      |     Brad Pitt      | 0.784023668639 |  2   |
|      0      |   Julianne Moore   | 0.795857988166 |  3   |
|      0      | Billy Bob Thornton | 0.803069053708 |  4   |
|      0      |   George Clooney   |   0.8046875    |  5   |
+-------------+--------------------+----------------+------+
[5 rows x 4 columns]

In [181]:
john_word_count_table= john[['word_count']].stack('word_count', new_column_name = ['word', 'count'])

In [ ]:
clinton_word_count_table = clinton[['word_count']].stack('word_count', new_column_name = ['word', 'count'])

In [62]:
john=people[people['name']=='Elton John']

In [66]:
john_word_count_table.sort('count', ascending=False)

Columns:
	word	str
	count	int

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|   he  |   7   |
|  john |   7   |
|   on  |   6   |
| since |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [67]:
john_tfidf_table= john[['tfidf']].stack('tfidf', new_column_name=['word', 'tfidf'])
john_tfidf_table.sort('tfidf', ascending=False).print_rows(num_rows=20)

+----------------+---------------+
|      word      |     tfidf     |
+----------------+---------------+
|    furnish     |  18.38947184  |
|     elton      |  17.48232027  |
|   billboard    | 17.3036809575 |
|      john      | 13.9393127924 |
|  songwriters   |  11.250406447 |
|  overallelton  | 10.9864953892 |
| tonightcandle  | 10.9864953892 |
|    19702000    | 10.2933482087 |
|   fivedecade   | 10.2933482087 |
|      aids      |  10.262846934 |
|     palace     | 9.81312438826 |
|     taupin     | 9.60020102811 |
|  bestselling   | 9.18915655167 |
|      roll      | 9.16253386239 |
|      top       | 9.09625766299 |
|    million     | 9.05348906628 |
|      100       | 8.92243724969 |
| highestprofile | 8.78927081189 |
|      gay       | 8.68541131216 |
|     brits      | 8.42154603176 |
+----------------+---------------+
[255 rows x 2 columns]

In [69]:
graphlab.distances.cosine(john['tfidf'][0], victoria['tfidf'][0])

0.9567006376655429

In [71]:
graphlab.distances.cosine(john['tfidf'][0], paul['tfidf'][0])

0.8250310029221779

In [70]:
paul = people[people['name']=='Paul McCartney']

In [72]:
knn_model.query(john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 47.32ms      |

| Done         |         | 100         | 319.304ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |    Elton John   |      0.0       |  1   |
|      0      |   Phil Collins  | 0.76399026764  |  2   |
|      0      |   Rod Stewart   | 0.773333333333 |  3   |
|      0      |   Annie Lennox  | 0.776623376623 |  4   |
|      0      |    Barry Gibb   | 0.780952380952 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [133]:
knn_model_wordcount = graphlab.nearest_neighbors.create(people, features=['word_count'], distance= 'cosine', label='name')

Starting brute force nearest neighbors model training.

In [134]:
knn_model_wordcount.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 14.405ms     |

| Done         |         | 100         | 269.36ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]

In [88]:
knn_model.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 46.865ms     |

| Done         |         | 100         | 354.89ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+----------------+------+
| query_label | reference_label  |    distance    | rank |
+-------------+------------------+----------------+------+
|      0      | Victoria Beckham |      0.0       |  1   |
|      0      |   Cheryl Cole    | 0.800586510264 |  2   |
|      0      |    Heidi Klum    | 0.810344827586 |  3   |
|      0      |   Simon Fuller   | 0.822742474916 |  4   |
|      0      |      Adele       | 0.824915824916 |  5   |
+-------------+------------------+----------------+------+
[5 rows x 4 columns]

In [101]:
graphlab.distances.cosine(john['word_count'][0], richard['word_count'][0])

0.16142415258967036

In [90]:
richard=people[people['name']=='Cliff Richard']

In [92]:
joel = people[people['name']=='Billy Joel']

In [102]:
graphlab.distances.cosine(john['word_count'][0], joel['word_count'][0])

0.2222176478184027

In [94]:
daltrey = people[people['name']=='Roger Daltrey']

In [103]:
graphlab.distances.cosine(john['word_count'][0], daltrey['word_count'][0])

0.17755418466559603

In [104]:
bush = people[people['name']=='George Bush']

In [105]:
bush

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
	[]

In [187]:
knn_model_wordcount.query(john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 33.574ms     |

| Done         |         | 100         | 320.191ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

In [116]:
knn_model.query(john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 22.689ms     |

| Done         |         | 100         | 289.078ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |    Elton John   |      0.0       |  1   |
|      0      |   Phil Collins  | 0.76399026764  |  2   |
|      0      |   Rod Stewart   | 0.773333333333 |  3   |
|      0      |   Annie Lennox  | 0.776623376623 |  4   |
|      0      |    Barry Gibb   | 0.780952380952 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [117]:
graphlab.distances.cosine(john['tfidf'][0], daltrey['tfidf'][0])

0.837118832236334

In [119]:
graphlab.distances.cosine(john['tfidf'][0], stewart['tfidf'][0])

0.7172196678927375

In [118]:
stewart = people[people['name']=='Rod Stewart']

In [120]:
haas = people[people['name']=='Tommy Haas']

In [121]:
graphlab.distances.cosine(john['tfidf'][0], haas['tfidf'][0])

0.9326339663286348

In [124]:
presley = people[people['name']=='Elvis Presley']

In [126]:
presley

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
	[]